<a href="https://colab.research.google.com/github/xinnazim/esaa/blob/main/%EB%91%90%EC%9E%87_%ED%8C%90%EB%8B%A4%EC%8A%A4_pg_241~_242%2C_256~263.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 12-1 datetime 오브젝트

* datetime 라이브러리: 날짜와 시간을 처리하는 다양한 기능 제공

In [2]:
# date 오브젝트 사용

#1.라이브러리 불러오기

from datetime import datetime

In [3]:
#2.now.today 메서드 사용: 현재 시간 출력
now1=datetime.now()
print(now1)

now2=datetime.today()
print(now2)

2023-04-07 07:24:37.223491
2023-04-07 07:24:37.223742

In [4]:
#3.시간을 직접 입력하여 인자로 전달

t1=datetime.now() #밀리초도 나옴옴
t2=datetime(1970,1,1)
t3=datetime(1970,12,12,13,24,34)

print(t1)
print(t2)
print(t3)

2023-04-07 07:24:37.241148
1970-01-01 00:00:00
1970-12-12 13:24:34

In [5]:
#4.시간 계산

diff1=t1-t2
print(diff1)
print(type(diff1))

diff2=t2-t1
print(diff2)
print(type(diff2))

19454 days, 7:24:37.241148
<class 'datetime.timedelta'>
-19455 days, 16:35:22.758852
<class 'datetime.timedelta'>

# 테슬라 주식 데이터로 시간 계산하기기

In [6]:
# pandas-datareader 라이브러리 이용

#pip install pandas-datareader

In [7]:
# 1.주식 데이터 저장

import pandas as pd

pd.core.common.is_list_like=pd.api.types.is_list_like
import pandas_datareader as pdr

tesla=pd.read_csv('tesla_stock_quandl.csv')

#tesla에 데이터 프레임 저장
#tesla = pdr.get_data_quandl('TSLA',api_key = 'eHzxZDiCctAzjinwwRJw')

#tesla에 저장된 데이터프레임을 파일로 저장
#tesla.to_csv('tesla_stock_quandl.csv')

In [8]:
#2.시간 계산을 위한 자료형 변환
print(tesla.head())

         Date    Open    High     Low   Close    Volume  ExDividend  \
0  2018-03-27  304.00  304.27  277.18  279.18  13696168           0
1  2018-03-26  307.34  307.59  291.36  304.18   8324639           0
2  2018-03-23  311.25  311.61  300.45  301.54   6600538           0
3  2018-03-22  313.89  318.82  308.18  309.10   4914307           0
4  2018-03-21  310.25  322.44  310.19  316.53   5927881           0

   SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose  AdjVolume
0           1   304.00   304.27  277.18    279.18   13696168
1           1   307.34   307.59  291.36    304.18    8324639
2           1   311.25   311.61  300.45    301.54    6600538
3           1   313.89   318.82  308.18    309.10    4914307
4           1   310.25   322.44  310.19    316.53    5927881

In [9]:
# 3. date 열을 datetime형으로 변환하려면 read_csv 메서드에서 parse_dates 인자에 date 열 전달

tesla = pd.read_csv("tesla_stock_quandl.csv", parse_dates = [0])
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        1949 non-null   datetime64[ns]
 1   Open        1949 non-null   float64
 2   High        1949 non-null   float64
 3   Low         1949 non-null   float64
 4   Close       1949 non-null   float64
 5   Volume      1949 non-null   int64
 6   ExDividend  1949 non-null   int64
 7   SplitRatio  1949 non-null   int64
 8   AdjOpen     1949 non-null   float64
 9   AdjHigh     1949 non-null   float64
 10  AdjLow      1949 non-null   float64
 11  AdjClose    1949 non-null   float64
 12  AdjVolume   1949 non-null   int64
dtypes: datetime64[ns](1), float64(8), int64(4)
memory usage: 198.1 KB
None

In [10]:
# 4. date열의 자료형이 datetime 오브젝트로 변환됨, dt접근자 사용 가능

#2010년 6월 데이터 추출
print(tesla.loc[(tesla.Date.dt.year == 2010) & (tesla.Date.dt.month == 6)])

           Date   Open     High    Low  Close    Volume  ExDividend  \
1947 2010-06-30  25.79  30.4192  23.30  23.83  17187100           0
1948 2010-06-29  19.00  25.0000  17.54  23.89  18766300           0

      SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose  AdjVolume
1947           1    25.79  30.4192   23.30     23.83   17187100
1948           1    19.00  25.0000   17.54     23.89   18766300

# datetime 오브젝트와 인덱스-DatetimeIndex

* dateuime 오브젝트를 데이터프레임의 인덱스로 설정하면 바로 추출 가능능

In [11]:
# 1.data열을 tesla df의 인덱스로 지정

tesla.index=tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2010-07-13', '2010-07-12', '2010-07-09', '2010-07-08',
               '2010-07-07', '2010-07-06', '2010-07-02', '2010-07-01',
               '2010-06-30', '2010-06-29'],
              dtype='datetime64[ns]', name='Date', length=1949, freq=None)

In [12]:
#2.시간 데이터 추출
#2015년 데이터 추출

print(tesla['2015'].iloc[:,:5])

                 Date    Open      High       Low    Close
Date
2015-12-31 2015-12-31  238.51  243.4500  238.3700  240.010
2015-12-30 2015-12-30  236.60  243.6340  235.6707  238.090
2015-12-29 2015-12-29  230.06  237.7200  229.5470  237.190
2015-12-28 2015-12-28  231.49  231.9800  225.5400  228.950
2015-12-24 2015-12-24  230.56  231.8800  228.2800  230.570
...               ...     ...       ...       ...      ...
2015-01-08 2015-01-08  212.81  213.7999  210.0100  210.615
2015-01-07 2015-01-07  213.35  214.7800  209.7800  210.950
2015-01-06 2015-01-06  210.06  214.2000  204.2100  211.280
2015-01-05 2015-01-05  214.55  216.5000  207.1626  210.090
2015-01-02 2015-01-02  222.87  223.2500  213.2600  219.310

[252 rows x 5 columns]

<ipython-input-12-2b7e9082f28a>:4: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print(tesla['2015'].iloc[:,:5])

In [13]:
#2010년 6월 추출

print(tesla['2010-06'].iloc[:,:5])

                 Date   Open     High    Low  Close
Date
2010-06-30 2010-06-30  25.79  30.4192  23.30  23.83
2010-06-29 2010-06-29  19.00  25.0000  17.54  23.89

<ipython-input-13-d0742427e604>:3: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print(tesla['2010-06'].iloc[:,:5])

# 시간간격과 인덱스 - TimedeltaIndex

* 예를 들어 주식에서 최초 5일간 수집된 데이터를 보고 싶을때, 시간 간격을 인덱스로 지정하여 추출

In [14]:
# 1.date 열에서 date열의 최솟값(2010-06-29)을 빼면 시간이 얼마나 흘렀는지 알 수 있음

tesla["ref_date"] = tesla["Date"] - tesla["Date"].min()
print(tesla.head())

                 Date    Open    High     Low   Close    Volume  ExDividend  \
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18  13696168           0
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18   8324639           0
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54   6600538           0
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10   4914307           0
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53   5927881           0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose  AdjVolume  \
Date
2018-03-27           1   304.00   304.27  277.18    279.18   13696168
2018-03-26           1   307.34   307.59  291.36    304.18    8324639
2018-03-23           1   311.25   311.61  300.45    301.54    6600538
2018-03-22           1   313.89   318.82  308.18    309.10    4914307
2018-03-21           1   310.25   322.44  310.19    316.53    5927881

            ref_date
Date
2018-03-27 2828 days
2018-03-26 2827 days
2018-03-23 2824 days
2018-03-22 2823 days
2018-03-21 2822 days

In [15]:
#2.ref_date 열을 인덱스지정

tesla.index=tesla['ref_date']
print(tesla.iloc[:5,:5])

                Date    Open    High     Low   Close
ref_date
2828 days 2018-03-27  304.00  304.27  277.18  279.18
2827 days 2018-03-26  307.34  307.59  291.36  304.18
2824 days 2018-03-23  311.25  311.61  300.45  301.54
2823 days 2018-03-22  313.89  318.82  308.18  309.10
2822 days 2018-03-21  310.25  322.44  310.19  316.53

In [16]:
#3. 데이터 수집한 이후 최초 5일 데이터 추출 
print(tesla["5 days":].iloc[:5, :5])

               Date   Open     High    Low  Close
ref_date
3 days   2010-07-02  23.00  23.1000  18.71  19.20
2 days   2010-07-01  25.00  25.9200  20.27  21.96
1 days   2010-06-30  25.79  30.4192  23.30  23.83
0 days   2010-06-29  19.00  25.0000  17.54  23.89

# 시간 범위와 인덱스
* 만약 특정 일에 누락된 데이터도 포함시키려면, 임의로 시간 범위를 생성해 인덱스로 지정해야함

In [18]:
# 1.에볼라 앞쪽 데이터 (2015,1,1 데이터 누락)
ebola = pd.read_csv("country_timeseries.csv")
print(ebola.iloc[:5, :5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           NaN         8157.0                NaN
4  12/31/2014  284        2730.0         8115.0             9633.0

In [19]:
# 2.에볼라 뒷쪽 데이터 (2014,3,23 데이터 누락)
print(ebola.iloc[:-5,:5])

           Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0      1/5/2015  289        2776.0            NaN            10030.0
1      1/4/2015  288        2775.0            NaN             9780.0
2      1/3/2015  287        2769.0         8166.0             9722.0
3      1/2/2015  286           NaN         8157.0                NaN
4    12/31/2014  284        2730.0         8115.0             9633.0
..          ...  ...           ...            ...                ...
112    4/4/2014   13         143.0           18.0                2.0
113    4/1/2014   10         127.0            8.0                2.0
114   3/31/2014    9         122.0            8.0                2.0
115   3/29/2014    7         112.0            7.0                NaN
116   3/28/2014    6         112.0            3.0                2.0

[117 rows x 5 columns]

In [20]:
# 3.data_range 메서드 사용, 2014.12.31~2015.01.05 사이 시간 인덱스 생성 
head_range = pd.date_range(start = "2014-12-31", end = "2015-01-05")
print(head_range)

DatetimeIndex(['2014-12-31', '2015-01-01', '2015-01-02', '2015-01-03',
               '2015-01-04', '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

In [21]:
# 4. 원본 데이터 손상 방지를 위해 /앞쪽 5개의 데이터를 추출하여 새로운 데이터프레임 생성
# date열을 인덱스로 먼저 지정하지 않으면 오류 발생
ebola_5 = ebola.head()
ebola_5.index = ebola_5["Date"]
ebola_5.reindex(head_range)
print(ebola_5.iloc[:5, :5])

                  Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
Date
1/5/2015      1/5/2015  289        2776.0            NaN            10030.0
1/4/2015      1/4/2015  288        2775.0            NaN             9780.0
1/3/2015      1/3/2015  287        2769.0         8166.0             9722.0
1/2/2015      1/2/2015  286           NaN         8157.0                NaN
12/31/2014  12/31/2014  284        2730.0         8115.0             9633.0

# 시간 범위의 주기 설정: freq 속성 값을 지정하면 시간 간격을 조절하여 DatetimeIndex를 만들 수 있음

* B - 평일만 포함
* C - 사용자가 정의한 평일만 포함
* D - 달력 일자 단위
* W - 주간 단위
* M - 월 마지막 날만 포함
* SM - 15일과 월 마지막 날만 포함
* BM - M 주기의 값이 휴일이면 제외하고 평일만 포함
* CBM - BM에 사용자 정의 평일을 적용
* MS - 월 시작일만 포함
* SMS - 월 시작일과 15일만 포함
* BMS - MS 주기의 값이 휴일이면 제외하고 평일만 포함
* CBMS - BMS에 사용자 정의 평일을 적용
* Q - 3, 6, 9, 12월 분기 마지막 날만 포함
* BQ - 3, 6, 9, 12월 분기 마지막 날이 휴일이면 제외하고 평일만 포함
* QS - 3, 6, 9, 12월 분기 시작일만 포함
* BQS - 3, 6, 9, 12월 분기 시작일이 휴일이면 제외하고 평일만 포함
* A - 년의 마지막 날만 포함
* BA - 년의 마지막 날이 휴일이면 제외하고 평일만 포함
* AS - 년의 시작일만 포함
* BAS - 년의 시작일이 휴일이면 제외하고 평일만 포함
* BH - 평일을 시간 단위로 포함(09:00 ~ 16:00)
* H - 시간 단위로 포함(00:00 ~ 00:00)
* T - 분 단위 포함
* S - 초 단위 포함
* L - 밀리초 단위 포함
* U - 마이크로초 단위 포함
* N - 나노초 단위 포함함