<a href="https://colab.research.google.com/github/xinnazim/esaa/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88(%EC%B6%9C%EC%B2%98_%EC%A0%90%ED%94%84_%ED%88%AC_%ED%8C%8C%EC%9D%B4%EC%8D%AC).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **자료형**

##Q1. 다음 수의 평균을 구하세요.

80, 75, 55, 95

In [ ]:
(80+75+55+95)/4

76.25

##Q2. 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력하세요.
홍길동 씨의 주민등록번호는 881120-1068234이다.

In [ ]:
# 답을 작성해주세요
id_Hong = "881120-1068234"
id_Hong.split("-")

['881120', '1068234']

##Q4. 주민등록번호에서 성별을 나타내는 숫자를 출력하세요.
주민등록번호 뒷자리의 첫 번째 숫자는 성별을 나타낸다.

In [ ]:
# 답을 작성해주세요
id_pin = "881120-2153468"
print(id_pin[7])

2

##Q5. [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 정렬하세요

In [ ]:
# 답을 작성해주세요
rand_list = [1, 3, 5, 4, 2]
rand_list.sort(reverse=True)
print(rand_list)

rand_list = [1, 3, 5, 4, 2]
sorted(rand_list,reverse = True) #출력가능

[5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

##Q7. 다음 리스트를 Life is too short 문자열로 만들어 출력하세요

In [ ]:
# 답을 작성해주세요
string_list = ['Life', 'is', 'too', 'short'] 
print(string_list[0],string_list[1],string_list[2],string_list[3])
#join 함수 사용가능

Life is too short

# **제어문**

## Q1. 다음 코드의 결과는?
```python
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")
```

In [ ]:
# 답을 작성해주세요
shirt

##Q2. while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구하세요

In [ ]:
# 답을 작성해주세요

i=0
j=0
while i <=1000:
  i+=1
  if (i%3==0):
    j+=i
print(j)

166833

## Q3. while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성하세요

![image.png]()

In [ ]:
# 답을 작성해주세요
i=0
while i<5:
  i+=1
  print('*'*i)

*
**
***
****
*****

## Q4. for문을 사용해 1부터 100까지의 숫자를 출력하세요

In [ ]:
# 답을 작성해주세요
i=0
for i in range(0,100):
  print(i)

##Q5. for문을 사용하여 평균을 구하세요.

A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

In [ ]:
# 답을 작성해주세요
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum = 0
for i in A:
	sum += i
m = sum / len(A)
print(m)

79.0

##Q6. number list에서 홀수에만 2를 곱해 결과를 result에 저장한 후 출력하세요

In [ ]:
numbers = [1, 2, 3, 4, 5]
result = []
i=0
for i in numbers:
  if (i%2)!=0:
    result.append(i*2)
print(result)

[2, 6, 10]

# **함수와 입출력**

##Q1. 주어진 자연수가 홀수인지 짝수인지 판별하는 함수를 작성하세요

In [ ]:
# 답을 작성해주세요
def is_odd(a):
  if a%2==0:
    print('짝수')
  else:
    print('홀수')

is_odd(4)
is_odd(5)

짝수
홀수

##Q2. 입력으로 들어오는 모든 수의 평균을 계산해주는 함수를 작성하고 실행하세요
(입력으로 들어오는 수의 개수는 랜덤입니다.)

In [ ]:
# 답을 작성해주세요
def average_rand(*n):
    result=0  
    for i in n:
      result+=i
    return result/len(n)

average_rand(12,1)

6.5

##Q3. 다음 프로그램의 오류를 수정하고 실행하세요

In [ ]:
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")

total = input1 + input2
print("두 수의 합은 %s 입니다" % total)

첫번째 숫자를 입력하세요:1
두번째 숫자를 입력하세요:2
두 수의 합은 12 입니다

In [ ]:
# 수정한 코드를 작성하고 실행하세요
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")

total = float(input1) + float(input2)
print("두 수의 합은 %s 입니다" % total)

첫번째 숫자를 입력하세요:1.2
두번째 숫자를 입력하세요:2
두 수의 합은 3.2 입니다

##Q4. 다음 중 출력 결과가 다른 것 하나를 고르세요

1. print("you" "need" "python")
2. print("you"+"need"+"python")
3. print("you", "need", "python")
4. print("".join(["you", "need", "python"]))

In [ ]:
# 답을 작성해주세요
print("you", "need", "python")

youneedpython
youneedpython
you need python
youneedpython